@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');
@font-face {
	font-family: 'Circe';
	src: url('../font/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
	url('../font/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Regular.woff2') format('woff2'),
	url('../font/Circe-Regular.woff') format('woff'),
	url('../font/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../font/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
	url('../font/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Bold.woff2') format('woff2'),
	url('../font/Circe-Bold.woff') format('woff'),
	url('../font/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

