*, :after, :before{
	@include reset;
	box-sizing: border-box;
}
body, html{
	font-family: $font-text;
	font-size: $globalFontsSize + px;
	line-height: 22px;
	font-weight: 400;
	overflow-x: hidden;
	color: $black;
}
body{
	&.show{
		height: 100vh;
		overflow: hidden;
	}
}

a{
	text-decoration: none;
	color: inherit;
}

.maket:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: url(../img/main-page.png) no-repeat top center;
	z-index: -1;
	opacity: 0.4;
	height: 281%;
}

.wrapper{
	max-width: $siteWidth + px;
	padding: 0 $spaceCol + px;
	margin: auto;
}


.header{
	//margin: 72px 0 0;
	background: $white;

	&__line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 23px 0;
	}
	.logo{
		&__img,
		&__link{
			display: block;
		}
		&__link{
			text-decoration: underline;
			font-size: 12px;
			line-height: 16px;
		}
	}
	.menu{
		padding: 0 5px;
		cursor: pointer;

		svg{
			position: relative;
			top: 6px;
		}
		&__container{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $white;
			z-index: -2;
			opacity: 0;
			visibility: hidden;

			&.menu__show{
				opacity: 1;
				z-index: 20;
				visibility: visible;
			}
		}
		&__content{
			max-width: 768px;
			margin: 0 auto;
		}
		&__header,
		&__contacts{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		&__header{
			padding: 16px 0 20px;
		}
		&__title{
			font-weight: 700;
			font-size: 20px;
			line-height: 28px;
			margin: 8px 0;
		}
		&__contacts,
		&__list{
			margin: 20px 0 20px;
		}
		&__list{
			height: 100%;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 5px;
			}
			&::-webkit-scrollbar-track {
				background: darken($white, 5%);
			}
			&::-webkit-scrollbar-thumb {
				background-color: $blue;
				border-radius: 20px;
			}
		}
		&__link{
			display: block;
			padding: 8px 0;
			border-bottom: 1px solid $light-gray;

			&_bold{
				font-weight: 700;
			}

			span{
				display: inline-block;
				width: 90%;
			}
			svg{
				transform: rotate(90deg);
			}
		}
		&__tools{
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 24px;
		}
	}
	.courses{
		position: relative;
	}
	.other-menu{
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__contacts{
			margin-left: 30px;
		}
	}
	.contacts{
		text-align: center;
	}
	.contacts__phone{
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: $blue;
		margin: 2px 0;
		white-space: nowrap;

		svg{
			position: relative;
			top: 2px;
		}
		path{
			fill: $blue;
		}
	}
	.tools{
		display: flex;
		align-items: center;

		svg{
			margin: 12px;
			cursor: pointer;
		}
		.lk{
			display: flex;
			align-items: center;
			cursor: pointer;
		}
	}
}

.courses{
	&_show{
		>.btn{
			background: darken($blue, 10%);
		}
		.courses__container{
			z-index: 20;
			opacity: 1;
			visibility: visible;
		}
	}
	.wrapper{
		height: 100%;
	}
	&__container {
		position: fixed;
		top: 137px;
		left: 0;
		right: 0;
		bottom: 0;
		background: $white;
		z-index: -2;
		opacity: 0;
		visibility: hidden;
	}
	&__list{
		border-top: 1px solid $blue;
		display: flex;
		justify-content: start;
		align-items: start;
		height: 100%;
	}
	&__sidebar{
		padding: 24px 26px 24px 24px;
		border-right: 1px solid black;
		flex: 0 0 20%;
		max-width: 20%;
		height: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: darken($white, 5%);
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blue;
			border-radius: 20px;
		}
	}
	.sidebar__link{
		display: block;
		margin: 0 0 10px;

		&_active{
			font-weight: 700;
			color: $blue;
		}
	}

	&__categories{
		padding: 24px 53px 66px 32px;
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}
		&::-webkit-scrollbar-track {
			background: darken($white, 5%);
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blue;
			border-radius: 20px;
		}
	}
	&__tabs{
		display: flex;
		justify-content: start;
		align-items: center;
		flex-wrap: wrap;
		gap: 12px;
		margin: 0 0 24px;
	}
	&__tab{
		font-size: 12px;
		line-height: 16px;
		color: $blue;
		padding: 4px 12px;
		border: 1px solid $blue;
		border-radius: 4px;
		white-space: nowrap;

		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}

	}
	input[type="radio"]{
		display: none;
	}
	input[type="radio"]:checked+&__tab{
		background: $blue;
		color: $white;
	}
	&__more{
		align-self: end;
	}
	&__item{

	}
	&__type{
		font-family: $font-titles;
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 24px;
	}
	&__link{
		font-size: 14px;
		line-height: 18px;
		margin: 0 0 20px;
	}
	.see-all{
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		text-align: end;
		color: $blue;
		margin: 28px 0;
	}
}

.text_blue{
	color: $blue;
}
.fill_gray{
	background: $light-gray2;
}
.fill_black{
	background: $black;
}
.btn{
	font-family: $font-text;
	display: inline-block;
	padding: 14px 20px 14px 18px;
	color: $white;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	background: $blue;
	border-radius: 4px;
	white-space: nowrap;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all .125s ease-out;

	&:hover{
		background: darken($blue, 10%);
	}
	svg{
		position: relative;
		top: 6px;
		left: 8px;
	}
	path{
		fill: $white;
	}

	&_middle{
		padding: 13px 16px 13px 18px;
		font-size: 16px;
		line-height: 22px;
	}
	&_small{
		padding: 8px 16px 8px 12px;
		font-size: 14px;
		line-height: 18px;

		svg{
			position: relative;
			top: 4px;
			left: 4px;
		}
	}
	&_down{
		padding-top: 5px;
		svg{
			transform: rotate(90deg);
		}
	}
	&_white{
		background: $white;
		color: $black;

		&:hover{
			color: $blue;
		}
		path{
			fill: $black;
		}
	}
	&_green{
		background: $green;
		color: $black;

		&:hover{
			background: lighten($green, 10%);
		}
		path{
			fill: $black;
		}
	}
	&_transparent{
		background: transparent;
		color: $black;
		font-weight: 400;

		&:hover{
			color: lighten($black, 10%);
			background: transparent;
		}
		path{
			fill: $black;
		}
	}
	&_outline{
		border: 1px solid $blue;
		color: $blue;
		background: transparent;

		&:hover{
			color: $black;
			border-color: $black;
			background: transparent;
		}
	}
	+.btn{
		margin: 0 0 0 24px;
	}
}
.title{
	font-family: $font-titles;
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	margin: 32px 0;

	&_green{
		color: $green;
	}
}

.first-screen{
	padding: 26px 0;
	margin: 40px 0;

	&__tag{
		background: $yellow;
		border-radius: 4px;
		line-height: 22px;
		display: inline-block;
		padding: 4px 16px;
	}
	&__description{
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 32px;
		max-width: 710px;
	}
	&__image{
		margin: -45px 0 0 -35px;
	}
}

.actual-program{
	//margin: 380px 0 0;
	margin: 80px 0 0;
	padding: 35px 0;

	&__info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 16px;
		flex-wrap: wrap;
	}
	&__description{
		font-weight: 400;
		font-size: 20px;
		line-height: 28px;
		max-width: 363px;
	}
	&__items{
		margin-bottom: 30px;
	}
	&__pagination{
		position: relative;
		margin: 16px 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;

		.swiper-pagination{
			position: relative;
			text-align: end;
			bottom: 0;
		}
	}
	.swiper-slide{
		height: auto;
	}
}
.card{
	border-radius: 4px;
	background: $light-blue;
	padding: 32px 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	min-height: 234px;

	&__icon{
		padding: 0 26px;
		margin: 0 54px 0 0;
	}
	&__info{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
	}
	&__title{
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		margin: 3px 0 8px;
	}
	&__description{
		margin: 8px 0;
	}

	&__other{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__price{
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		white-space: nowrap;
	}
}

.consultation{
	margin: 24px 0 104px;
	padding: 40px 0;

	&__container{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		border-radius: 12px;
		padding: 48px;
	}
	&__info,
	&__form{
		flex: 0 0 50%;
		max-width: 50%;
	}
	&__description{
		color: $white;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		margin: 32px 0;
	}

	&__form{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}
	.input-name{
		color: $white;
		margin-bottom: 24px;

		span{
			display: block;
			margin-bottom: 8px;
		}

		input{
			outline: none;
			border: 1px solid $black;
			border-radius: 4px;
			padding: 12px 16px;
			width: 100%;
			color: $placeholder-gray;

			&:focus{
				outline: none;
			}
		}
	}
	input[type='checkbox']{
		display: none;
	}
	.checkbox{
		padding-left: 36px;
		position: relative;
	}
	.checkbox::before{
		content: '';
		position: absolute;
		top: -2px;
		left: 0;
		width: 21px;
		height: 21px;
		border: 2px solid $white;
		border-radius: 3px;
	}
	input[type='checkbox']:checked + .checkbox::before{
		border: none;
		background: url("../img/checkbox.png") no-repeat center;
	}
	.btn{
		align-self: end;
	}

}



