$font-titles: 'Manrope', sans-serif;
$font-text: 'Circe', sans-serif;
$siteWidth: 1472;
$spaceCol: 16;

$globalFontsSize: 16;

// Colors
$white: #fff;
$blue: #004CE4;
$light-blue: #6CA4F8;
$green: #A4DE78;
$yellow: #FFF9C2;
$gray: #6B7280;
$light-gray: #D1D5DB;
$light-gray2: #F3F4F6;
$placeholder-gray: #9CA3AF;
$dark-gray: #1F2937;
$black: #111827;